src/*.[oa]
src/*.~
src/*.swp
src/include/*.[oa]
src/include/*.~
src/include/*.swp
src/lib/*.[oa]
src/lib/*.~
src/lib/*.swp
src/old/*.[oa]
src/old/*.~
src/old/*.swp
src/supervisor/*.[oa]
src/supervisor/*.~
src/supervisor/*.swp
src/test/*.[oa]
src/test/*.~
src/test/*.swp
src/worker/*.[oa]
src/worker/*.~
src/worker/*.swp
